img{
    margin: 0 auto;
    height: 200px;
    width: 250px;
    /* position: center; */
    border-radius: 250px;
}

.profile{
    width: 1400px;
}
h1{
    text-align: center;
}

.useravatar{
    margin: 0 auto;
}
.back{
    background-image: url('../../../assets/images/metal_background.jpg');
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    
}
